html
  head
    title="Document"
  body
    h1="HTML example, node serving HTML file"
    form(action="/message" method="POST")
      input(type="text" name="message")
      button(type="submit")="Submit"